{% extends 'base.html' %}
{% block style %}
<style>
    body {
        background-color: lightgray;
        height: 100vh;
    }

    .flexbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%
    }
    .card-title {
        padding-left: 10px;
    }

    .card {
            width: 600px;
        }

    .btn-block {
        width: 100%;
    }
</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="flexbox">
    <div class="card">
        <div class="card-title teal lighten-2 white-text section">
            Register
        </div>

        <div class="card-content">
            <!--Flash Error Messages-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="col s12 card-panel red lighten-4">
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}

            <form method=post>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            {{ form.name() }}
                            {{ form.name.label }}
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            {{ form.email() }}
                            {{ form.email.label }}
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            {{ form.password() }}
                            {{ form.password.label }}
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            {{ form.confirm_password() }}
                            {{ form.confirm_password.label }}
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}