{% extends 'base.html' %}
{% block style %}
<style>
    body {
        background-color: lightgray;
        height: 100vh;
    }

    .flexbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%
    }
    .card-title {
        padding-left: 10px;
    }

    .card {
            width: 400px;
        }

    .btn-block {
        width: 100%;
    }
</style>
{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="flexbox">
    <div class="card">
        <div class="card-title teal lighten-2 white-text section">
            Reset Password
        </div>
        <div class="card-content">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form.email(id="txtEmail") }}
                        {{ form.email.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button id="btnLogin" class="btn btn-block waves-effect waves-light teal lighten-2" type="submit" name="action">Send Email
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>    
        </div>
    </div>
</div>
{% endblock %}

